{
  background: white;
  margin: 20px 0;
  padding: 10px;
}

.Content 
{
  margin: 0 auto;
  width: 300%;
  height: 100%;
  background: black;
  padding: 20px;
  color: white;
}


.Top
{	background-color: red;
	width: 100%;
	height: 20%;
	position: absolute;
}
