#footer{
	
	overflow: hidden;
	color:#203035;
	font-size: 17px;

}

#social{
	text-align: left;
	margin-left: 3px;
	color: #203035;
	
}
#facebook{
	float: left;
	width: 50px;
	height: 50px;
}
ul {
	text-decoration: none;
}
h2{
	font-size: 30px;
	font-style:italic;
}
#text{
	text-align: right;
	margin-right: 10px;
	color:#203035;

}