#Matches_to_watch{
	float: right;
	max-width: 35%;
	background-color:  #1f4e56;
	border-radius: 15px;
	border: 2px black;
	border-style: dotted;
	margin-right: 4%;
}

table{
	border-collapse:collapse;
}

#Bottom tr td{
	width: 120px;
	color: white;
}

#Video{
	float: left;
	
}



.Content{
	overflow: hidden;
}

#Middle{
	margin-top: 4%;
}

#Bottom{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20%;
	margin-left: 5%;
	background-color: #1f4e56;
	border-radius: 10px;
	width: 30%;
	position: absolute;
}


#leftTable{
	float:left;
}

#rightTable{
	float: right;
	padding-left: 5%;
}

video{
	margin-left: 20%;
	margin-top: -50px;
}

img{
	width: 100px;
	height: 80px;
}

a{
	text-decoration: none;
	color: white;
	margin: 0 auto;
}


#upcoming{
	color: white;
	margin: 0 auto;
}