#logo{
	color: silver;
	background-color: #203035;
	text-decoration: none;
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#login_container{
	width: 40%;
	float: left;
	border-width: 3px;
}

.Main{
	width: 80%;
	margin: 0 auto;
	min-height: 97vh;
}

.Content{
	text-align: center;
	background-color: silver;
	border-radius: 10px;
	min-height: 97vh;
}
#register_container{
	width: 40%;
	float: right;
}

.acc{
	border-radius: 10px;
}

#login_page{
	display: inline-block;
}