 #tables{

	float: right; 
	margin: 4%;
 }

 #menu{
 	
 	margin: 4%;
 	background-color: #1f4e56;
 	min-height: 100vh;
 	width: 25%;
 	float: left;
 }

 #wrapper{
 	margin: 0 auto;
 	padding: 0;
 	display: inline;
 }

 .Content{
 	min-height: 1100px;
 	overflow:hidden;
 }



 hr{
 	border: 1px solid #2C3539;
 }
 
 #menu a{
 	text-decoration: none;
 	color: white;
 }
