#regions_list {
	width: 50%;
	margin: 0 auto;
	padding-top: 4%; 
}
#regions_list li{
	margin: 0 auto;	
	padding: 5px;
	list-style-type: none;
	width: 200px;
	background-color:#C0C0C0;
	font-size:30px;
	font-style:normal;
	position: relative;
	border: none;
	border-radius: 10px;
	border: 5px solid #203035;
	margin-top: 8px;
	}

#regions_list li a {
	padding: 10px 10px 10px 10px;
	color:#353535;
    display: block;
    text-decoration:none;
}

