 #tables{
 	width: 60%;
	float: right; 
	margin-top: 4%;
	margin-right: 3%;
	border-radius: 10px;
 }

 #menu{
 	margin-left: 4%;
 	margin-top: 4%;
 	background-color: #1f4e56;
 	min-height: 100vh;
 	width: 30%;
 	float: left;

 }

 #africa{
 	font-size: 120%;

 }
 .Content{
 	min-height: 585px;
 }



 hr{
 	border: 1px solid #2C3539;
 }
 
