#field{
	margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    height: 380px;
    background: #1E9506;
}

.Content{
	overflow: hidden;
	min-height: 900px;
}

#firstTeamDetails{
	width: 22%;
	float: left;
	text-align: left;
	padding-left: 1.5%;
	color: white;
}

#secondTeamDetails{
	width: 22%;
	float: right;
	text-align: right;
	padding-right: 1.5%;
	color: white;
}

#terrain{
	position: absolute;
	width: 40%;
	right: 0;
	background-color: blue;
	height: 380px;
	top:5px;	
}

#controlls{
	margin: 0 auto;
	
    width: 90%;
    text-align: center;
   
    position: relative;
}

#buttons button{
	background-color: #133237;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

#play, #speed2X, #speed3X{
	border-radius: 0px;
}

#pause{
	border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#skip{
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#secondHalfButton{
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#buttons button:hover{
	background-color: #0D2327;
}

#eventTeam1{
	overflow-y: scroll;
	width: 28%;
	float: left;
	text-align: left;
	padding-left: 2%;
	background-color: #B7C6F2;
	height: 200px;
	position: absolute;
	top: 0px;
	overflow: auto;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#eventTeam2{
	overflow-y: scroll;
	width: 28%;
	float: right;
	text-align: right;
	padding-right: 2%;
	background-color: #B7C6F2;
	height: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#score{
 	font-size: 50px;
 	line-height: 80%;
}

#possessiontext{
	padding-top:10px;
	font-size: 18px;
}

#min{
	font-size: 20px
}


#Statistics{
	list-style-type: none;
    left: 0;
    right: 0;
    overflow: hidden;
}
#Statistics #Name{
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
}

#Statistics #StatisticsT1{
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 50px 200px;
    text-decoration: none;
}


#Statistics #StatisticsT2{
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 50px 200px;
    text-decoration: none;
}


#finish{
	position:absolute;

}