body{
	background-color: black;
	background-attachment: scroll;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.Main{
	width: 80%;
	margin: 0 auto;
	min-height: 97vh;
	background-color: red;
}

.Content{
	text-align: center;
	background-color: white;
	border-radius: 10px;
	min-height: 80vh;
}

.header{
	border-radius: 10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #353535;
}


#footer{
	border-radius: 10px;
    background-color: silver;	
   	bottom: 0;
}


.header li {
    float: left;
}

.header li p{
	line-height: 1%;
	font-size: 12px;
}
.header li h3{
	line-height: 1%;
}

.header li #logo{
	color: silver;
	background-color: #203035;
	display: block;
	text-decoration: none;
	padding: 12px 20px;
}

.header li a{
	transform: translate(0%, 50%);
	border-right: 2px solid #555;	
	vertical-align: text-bottom;
   	display: block;
 	color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
}

.header li form{	
	display: block;
	border-right: 2px solid #555;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transform: translate(0%, 50%);
}

.header form input{
	border-radius: 4px;
}

.header li a:hover {
	border-radius: 5px;
    background-color: #111;
}

#login a{
	    text-decoration: none;
	   padding-left: 50px;
	   text-align: center;
		float:right;
	/*background-color: blue;*/
}
